*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 5rem;
}

.titre{
    background-color: #ce0033;
    height: 5rem;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
}

.input-form {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.2em 0;
}

input, label, button {
    transition: .3s;
}

label {
    transform: translate(10px, -15px);
    cursor: text;
    transform-origin: left top;
    position: absolute;
}

input {
    padding: 10px;
    border: none; outline: none;
    border-bottom: 2px solid grey;
}

button {
    border: 0; padding: 10px 15px;
    cursor: pointer; color: white;
    background-color: #ce0033;
}

button:focus, button:hover {
    background-color: #d92027;
}

.submit-form {
    text-align: right;
}

input::placeholder {
    opacity: 0;
}

input:focus,
input:not(:placeholder-shown) {
    border-bottom: 2px solid #ce0033;
}

input:not(:placeholder-shown) ~ label,
input:focus ~ label {
    transform: translate(10px, -30px) scale(.8);
    padding-left: 0;
    color: black;
}

textarea{
    height: 5rem;
}

#photo, #date{
    border-bottom: 2px solid grey;
}