*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #ce0033;
    text-align: center;
    color: white;
    height: 7rem;
}

section{
    margin-top: 5rem;
}

ul{
    list-style: none;
    display: flex;
}

.btn{
    background-color: #ce0033;
    color: white;
}

.card{
    margin: 1rem;
}

.card img{
    height: 10rem;
    width: 50%;
    border-radius: 50%;
    margin-top: 10px;
}

.card-body{
    text-align: center;
}

.row .btn{
    background-color: white;
}

.card .col-4 img{
    height: 40px;
    width: 40px;
}